chromadb
faiss-cpu
fastapi[standard]
google-generativeai
gunicorn
langchain
langchain-community
langchain-google-genai
langchain-groq
motor
openai
pydantic
pymupdf
PyPDF2
python-dotenv
python-multipart
uvicorn[standard]
