chromadb
faiss-cpu
fastapi
fastapi[standard]
google-generativeai==0.3.2
langchain
langchain-community
langchain-google-genai
langchain-groq
motor
openai
pydantic
pymupdf
PyPDF2
python-dotenv
python-multipart
uvicorn
uvicorn[standard]
